<!-- Content Body Start -->
<div class="content-body m-0 p-0">

  <div class="login-register-wrap">
    <div class="row">

      <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
        <div class="login-register-form-wrap">

          <div class="content">
            <h1>Sign in</h1>
            <p>If you have already authorized either GitHub or Bitbucket on your Packagr account, then you can click either button to sign in.</p>
          </div>

          <button class="button button-github"><span><fa-icon [icon]="['fab', 'github']"></fa-icon> Github</span></button>
          <button class="button button-playstation"><span><fa-icon [icon]="['fab', 'bitbucket']"></fa-icon> BitBucket</span></button>

        </div>
      </div>

      <div class="login-register-bg order-1 order-lg-2 col-lg-7 col-12">
        <div class="content">
          <h1>Sign in</h1>
          <p>If you have already authorized either GitHub or Bitbucket on your Packagr account, then you can click either button to sign in.</p>
        </div>
      </div>

    </div>
  </div>

</div><!-- Content Body End -->
