<app-header></app-header>
<app-left-menu></app-left-menu>

<!-- Content Body Start -->
<div class="content-body">

  <!-- Page Headings Start -->
  <div class="row justify-content-between align-items-center mb-10">

    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20">
      <div class="page-heading">
        <h3>Add Project <span>/ <a *ngIf="activeOrg" target="_blank" [href]="activeOrg.url">{{activeOrg.name}} <fa-icon [icon]="['fab', 'github']"></fa-icon></a></span></h3>
      </div>
    </div><!-- Page Heading End -->

  </div><!-- Page Headings End -->

  <div class="row mbn-30">

    <!--Alert Start-->
    <div class="col-12 mb-30">
      <div class="alert alert-primary">
        <button class="close" data-dismiss="alert"></button>
        <fa-icon size="lg" [icon]="['fas', 'exclamation-circle']"></fa-icon> This is a list of all repos under the {{activeOrg.name}} account that can be configured for use with Packagr. <a [href]="activeOrg.installationUrl" class="alert-link">Configure</a>
      </div>
    </div>
    <!--Alert End-->

    <!-- Invoice List Start -->
    <div class="col-12 mb-30">

      <div *ngIf="repos.length" class="table-responsive">
        <table infiniteScroll
               [infiniteScrollDistance]="2"
               [infiniteScrollThrottle]="50"
               (scrolled)="fetchActiveOrgReposPaginated()"
               [infiniteScrollDisabled]="loading.fetchOrgRepos ||  loadedAllRepos" class="project-create-table table table-bordered mb-0">
          <!-- Table Head Start -->
          <thead>
          <tr>
            <th>Owner</th>
            <th>Repo</th>
            <th>Description</th>
            <th>Last Updated</th>
            <th>Language</th>
            <th>Private</th>
            <th>Action</th>
          </tr>
          </thead><!-- Table Head End -->

          <!-- Table Body Start -->
          <tbody>
            <tr *ngFor="let repo of repos"s>
              <td>{{repo.org}}</td>
              <td>{{repo.name}}</td>
              <td><p>{{repo.description}}</p></td>
              <td>{{repo.updatedAt | amTimeAgo }}</td>
              <td>
                <span class="badge badge-outline badge-primary">{{repo.language}}</span>
              </td>
              <td style="text-align: center;">
                <fa-icon *ngIf="repo.private" [icon]="['fas', 'lock']" size="lg" class="cursor-pointer text-danger"></fa-icon>
                <fa-icon *ngIf="!repo.private" [icon]="['fas', 'globe-americas']" size="lg" class="cursor-pointer text-success"></fa-icon>
              </td>
              <td style="text-align: center;" >
                <div *ngIf="existingProject(repo); else newProject" class="table-action-buttons">
                  <!-- existing project buttons -->
                  <a (click)="editProject(repo)">
                    <fa-icon [icon]="['far', 'edit']" size="lg" class="text-info"></fa-icon>
                  </a>
                </div>

                <ng-template #newProject>
                  <!-- new project buttons-->
                  <a (click)="createProject(repo)">
                    <fa-icon [icon]="['far', 'plus-square']" size="lg" class="text-primary"></fa-icon>
                  </a>
                </ng-template>

              </td>
            </tr>
          </tbody><!-- Table Body End -->

        </table>
      </div>
      <app-placeholder-loading *ngIf="loading.repos"></app-placeholder-loading>

    </div><!-- Invoice List End -->

  </div>

</div><!-- Content Body End -->

<app-footer></app-footer>
