<app-header></app-header>
<app-left-menu></app-left-menu>

<!-- Content Body Start -->
<div class="content-body">

  <!-- Page Headings Start -->
  <div class="row justify-content-between align-items-center mb-10">

    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20">
      <div class="page-heading">
        <h3 class="title">Dashboard <span>/ {{activeOrg.name}}</span></h3>
      </div>
    </div><!-- Page Heading End -->

  </div><!-- Page Headings End -->


  <!-- Top Report Wrap Start -->
  <div class="row">
    <!-- Top Report Start -->
    <div class="col-xlg-3 col-md-6 col-12 mb-30">
      <div class="top-report">

        <!-- Head -->
        <div class="head">
          <h4>Total Visitor</h4>
          <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
        </div>

        <!-- Content -->
        <div class="content">
          <h5>Todays</h5>
          <h2>100,560.00</h2>
        </div>

        <!-- Footer -->
        <div class="footer">
          <div class="progess">
            <div class="progess-bar" style="width: 92%;"></div>
          </div>
          <p>92% of unique visitor</p>
        </div>

      </div>
    </div><!-- Top Report End -->

    <!-- Top Report Start -->
    <div class="col-xlg-3 col-md-6 col-12 mb-30">
      <div class="top-report">

        <!-- Head -->
        <div class="head">
          <h4>Product Sold</h4>
          <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
        </div>

        <!-- Content -->
        <div class="content">
          <h5>Todays</h5>
          <h2>85,000.00</h2>
        </div>

        <!-- Footer -->
        <div class="footer">
          <div class="progess">
            <div class="progess-bar" style="width: 98%;"></div>
          </div>
          <p>98% of unique visitor</p>
        </div>

      </div>
    </div><!-- Top Report End -->

    <!-- Top Report Start -->
    <div class="col-xlg-3 col-md-6 col-12 mb-30">
      <div class="top-report">

        <!-- Head -->
        <div class="head">
          <h4>Order Received</h4>
          <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
        </div>

        <!-- Content -->
        <div class="content">
          <h5>Todays</h5>
          <h2>5,000.00</h2>
        </div>

        <!-- Footer -->
        <div class="footer">
          <div class="progess">
            <div class="progess-bar" style="width: 88%;"></div>
          </div>
          <p>88% of unique visitor</p>
        </div>

      </div>
    </div><!-- Top Report End -->

    <!-- Top Report Start -->
    <div class="col-xlg-3 col-md-6 col-12 mb-30">
      <div class="top-report">

        <!-- Head -->
        <div class="head">
          <h4>Total Revenue</h4>
          <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
        </div>

        <!-- Content -->
        <div class="content">
          <h5>Todays</h5>
          <h2>3,000,000.00</h2>
        </div>

        <!-- Footer -->
        <div class="footer">
          <div class="progess">
            <div class="progess-bar" style="width: 76%;"></div>
          </div>
          <p>76% of unique visitor</p>
        </div>

      </div>
    </div><!-- Top Report End -->
  </div><!-- Top Report Wrap End -->


  <div class="row mbn-30">

    <!-- Project List Start -->
    <div class="col-xlg-4 col-lg-6 col-12 mb-30">
      <div class="box">
        <div class="box-head">
          <h4 class="title">Projects
            <span class="float-right">
              <fa-icon [routerLink]="'/gh/' + activeOrg.slug + '/create'" [icon]="['far', 'plus-square']" size="lg" class="cursor-pointer text-success"></fa-icon>
            </span></h4>
        </div>
        <div class="box-body p-0">

          <app-placeholder-loading *ngIf="loading.projects"></app-placeholder-loading>

          <div *ngIf="projects.length">
            <!--Todo List Start-->
            <ul  class="todo-list">

              <!--Todo Item Start-->
              <li *ngFor="let project of projects">
                <div class="list-action">
                  <button class="status"><i class="zmdi zmdi-star-outline"></i></button>
                </div>
                <div class="list-content cursor-pointer" (click)="changeActiveProject(project)">
                  <p>{{project.org}}/{{project.repo}}</p>
                </div>
                <div class="list-action right">
                  <span [routerLink]="'/' + project.serviceType + '/' + project.org + '/' + project.repo + '/edit'" class="float-right"><fa-icon [icon]="['fas', 'cog']" class="cursor-pointer text-primary"></fa-icon></span>
                </div>
              </li>
              <!--Todo Item End-->

            </ul>
            <!--Todo List End-->

            <!--Add Todo List Start-->
            <form action="#" class="todo-list-add-new" data-date="false">
              <label class="status"><input type="checkbox"><i class="icon zmdi zmdi-star-outline"></i></label>
              <input class="content" type="text" placeholder="Type new Task">
              <button class="submit"><i class="zmdi zmdi-plus-circle-o"></i></button>
            </form>
            <!--Add Todo List End-->
          </div>
        </div>
      </div>
    </div><!-- Project List End -->


    <!-- Pull Request List Start -->
    <div class="col-xlg-8 col-lg-6 col-12 mb-30">
      <div class="box">
        <div class="box-head">
          <h4 class="title">Pull Requests</h4>
        </div>
        <div class="box-body">
          <app-placeholder-loading *ngIf="loading.pullrequests"></app-placeholder-loading>


          <ul *ngFor="let pr of activeProjectPRs" class="list-group">
            <li class="list-group-item mb-20">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{pr.title}} </h5>
                <small>{{pr.updatedAt | amTimeAgo }}</small>
              </div>
              <div class="row">
                <div class="col-10">
                  <a target="_blank" [href]="pr.link">#{{pr.id}} <fa-icon [icon]="['fab', 'github']"></fa-icon></a> opened by <a target="_blank" [href]="pr.userUrl">{{pr.user}}</a>
                  <br/>
                  <code>{{pr.description}}</code>
                  <br/>
                  <span *ngFor="let label of pr.labels" class="badge badge-dark">{{label}}</span>
                </div>
                <div class="col-2">
                  <button [routerLink]="'/'+pr.serviceType + '/' + activeProject.org + '/' + activeProject.repo + '/pr/' + pr.id" class="float-right button button-outline button-primary">Deploy</button>
                </div>
              </div>

            </li>
          </ul>


        </div>
      </div>
    </div><!-- Pull Request List End -->



  </div>
</div><!-- Content Body End -->

<app-footer></app-footer>
