/* You can add global styles to this file, and also import other style files */

.org-select {
  max-width: 40px;
}

.cursor-pointer {
  cursor: pointer;
}


.project-create-table.table tbody > tr > td,
.project-create-table.table tbody > tr > th {
  white-space: normal;
}
